*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    place-items: center;
    margin: 50px 400px;
    background: #000;
}
.btn,a{
    position: relative;
    color: #f5f5f5;
    height: 70px;
    width: 220px;
    display: block;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    background-image: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    
  }
  .btn a {
    height: 88%;
    width: 96%;
    background: #111;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    line-height: 62px;
    font-size: 25px;
    transform: translate(-50%, -50%);
  }
  button:before{
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }
  button:hover:before{
    opacity: 1;
  }
  button:hover:active{
    background: none;
  }
  button:hover:active:before{
    filter: blur(9px);
  }
  @keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  @media only screen and (max-width: 870px)and (max-width:1024) {
    body {
      display: grid;
      place-content: center;
      place-items: center;
      margin:auto;
      grid-template-columns: repeat(3,1fr);
    }
  
  }
  @media only screen and (max-width: 400px),(max-width: 600px),(max-width: 750px){
    body {
      display: grid;
      margin:auto;
      place-items: center;
      place-content: center;
      grid-template-columns: repeat(2,1fr);
    }
  
  }
  @media only screen and (max-width: 410px) {
    body {
      display: grid;
       place-content: center;
       place-items: center;
       margin: auto;
      grid-template-columns: repeat(1,1fr);
    }
}

    
  
 
  